<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938644013538-l4cav1n8gbggvrosmujvqncimrrlf8r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938644013538-l4cav1n8gbggvrosmujvqncimrrlf8r7</string>
	<key>API_KEY</key>
	<string>AIzaSyDwbst-DwrBA5V2oKQzoCtEdo1_hj1qyvA</string>
	<key>GCM_SENDER_ID</key>
	<string>938644013538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookreview</string>
	<key>PROJECT_ID</key>
	<string>bookreview-app-example</string>
	<key>STORAGE_BUCKET</key>
	<string>bookreview-app-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938644013538:ios:ea63d79422ed6e313ef9bb</string>
</dict>
</plist>